<h1>Angular Items</h1>

<%= link_to "All Works", works_path %>

<% @angular_portfolio_items.each do |work| %>
  <h2><%= link_to "#{work.title}", work_path(work.id) %></h2>
  <h3><%= work.subtitle %></h3>
  <p><%= work.body %></p>
  <%= image_tag work.thumb_image unless work.thumb_image.nil? %>
    <%= link_to "Edit", edit_work_path(work.id) %>
    <%= link_to "Show", portfolio_show_path(work.id) %>
    <%= link_to "Delete", work_path(work), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%= link_to "Create New Item", new_work_path %>
