<h1>Hi, <%= current_user.first_name %></h1>

<p> My blog posts </p>
<%= @blogs.inspect %>

<p> My Skills </p>
<%= @skills.inspect %>

<hr>

<%= content_tag :p, class:"my-special-class" do %>
Hi, I'm a paragraph tag
<% end %>

<%= sample_helper %>
